```go
gimbal.Set(ctx, "promise", promise)
gimbal.Set(ctx, "definition of done file", dodFile)

planner := gimbal.NewSession(ctx, gimbal.RoleSprintPlanning, env.WorkDir)
coach := gimbal.NewSession(ctx, gimbal.RoleArchitecturalCritique, env.WorkDir)
loop := gimbal.PromiseLoop(ctx, "implementation", promise, planner,
	gimbal.WithSupervisor(coach, planningScopePrompt))

for taskCtx, task := range loop.Tasks {
	worker := gimbal.NewSession(taskCtx, roleCoding, env.WorkDir)
	report, err := worker.Generate[gimbal.Text](taskCtx, implementationPrompt,
		gimbal.WithSupervisor(workerCoach, implementationScopePrompt))
	if err != nil {
		return err
	}
	gimbal.Set(taskCtx, "worker report", string(report))
	gimbal.Check(taskCtx, "task check", env.WorkDir, "sh", "-lc", task.Validation.Command)

	validator := gimbal.NewSession(taskCtx, gimbal.RoleQAOrchestration, env.WorkDir)
	assessment, err := validator.Generate[Assessment](taskCtx, validationPrompt)
	if err != nil {
		return err
	}
	if assessment.ValidationPassed {
		break
	}
}
return loop.Err()
```
